html{
    font-size: 62.5%;
}

body{
    font-size: 1.7rem;
    font-family: "Roboto",'Open Sans', sans-serif;
    font-weight: 400;
    background: rgb(247, 247, 247);
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}