$primary-color:#109e92;
$tertiary-color:#ffffff;
.app-header{
    .app-logo{
        width:max-content;
        display: block;
    }

    &__navigation{
        // display: flex;

        .nav-link{
            color:$tertiary-color;
            
            border-radius: 5px;
            transition:.3s;

            

            &:hover{
                background:$primary-color;
            }

            &.nuxt-link-exact-active{
                background: $primary-color;
            }

        }
        
    }
}